@media (min-width: 768px) and (max-width: 1024px) {
  .nav-text {
    display: none;
  }
  #nav-bar a:link,
  a:visited {
    padding: 10px;
    margin: 1rem;
  }
  #nav-bar {
    margin-top: 1rem;
  }
  #target {
    font-size: 16px;
  }
  #personal-info {
    font-size: 16px;
    padding-right: 40px;
  }
  .cer-content {
    flex-direction: column;
    gap: 30px;
  }
  .project-title {
    font-size: 14px;
  }
  .project-border {
    padding: 10px 4px;
  }
  .project-border span {
    margin-right: 5px;
  }
  td {
    font-size: 12px;
  }
  tr td:first-child {
    width: 30%;
  }
}
